<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Options</key>
	<dict>
		<key>entity_id</key>
		<string>id</string>
		<key>added_price</key>
		<string>added_price</string>
		<key>option_key</key>
		<string>option_key</string>
		<key>option_type</key>
		<string>option_type</string>
		<key>option_type_code</key>
		<string>option_type_code</string>
		<key>option_value</key>
		<string>option_value</string>
	</dict>
	<key>Items</key>
	<dict>
		<key>desc</key>
		<string>description</string>
		<key>entity_id</key>
		<string>id</string>
		<key>item_type</key>
		<string>item_type</string>
		<key>item_type_code</key>
		<string>item_type_code</string>
		<key>max_quantity</key>
		<string>max_quantity</string>
		<key>name</key>
		<string>name</string>
	</dict>
	<key>Menu</key>
	<dict>
		<key>end_time</key>
		<string>end_time</string>
		<key>entity_id</key>
		<string>id</string>
		<key>name</key>
		<string>name</string>
		<key>start_time</key>
		<string>start_time</string>
	</dict>
	<key>Cusines</key>
	<dict>
		<key>entity_id</key>
		<string>id</string>
		<key>name</key>
		<string>name</string>
	</dict>
	<key>Offerings</key>
	<dict>
		<key>collection</key>
		<string>collection</string>
		<key>delivery</key>
		<string>delivery</string>
		<key>dine_in</key>
		<string>dine_in</string>
	</dict>
	<key>Location</key>
	<dict>
		<key>address1</key>
		<string>address1</string>
		<key>address2</key>
		<string>address2</string>
		<key>city</key>
		<string>city</string>
		<key>country</key>
		<string>country</string>
		<key>lat</key>
		<string>lat</string>
		<key>lng</key>
		<string>lng</string>
	</dict>
	<key>OpeningTimes</key>
	<dict>
		<key>opening_time</key>
		<string>opening_time</string>
		<key>open_status</key>
		<string>open_status</string>
		<key>closing_time</key>
		<string>closing_time</string>
		<key>day</key>
		<string>day</string>
	</dict>
	<key>Images</key>
	<dict>
		<key>banner</key>
		<string>banner</string>
		<key>display</key>
		<string>display</string>
	</dict>
	<key>Restaurant</key>
	<dict>
		<key>preparation_time</key>
		<string>preparation_time</string>
		<key>service_area</key>
		<string>service_area</string>
		<key>status</key>
		<string>status</string>
		<key>delivery_time</key>
		<string>delivery_time</string>
		<key>email</key>
		<string>email</string>
		<key>entity_id</key>
		<string>id</string>
		<key>name</key>
		<string>name</string>
		<key>cost_for_two</key>
		<string>cost_for_two</string>
		<key>phone</key>
		<string>phone</string>
		<key>average_rating</key>
		<string>average_rating</string>
		<key>area</key>
		<string>area</string>
	</dict>
	<key>DeliveryOption</key>
	<dict>
		<key>entity_id</key>
		<string>id</string>
		<key>address</key>
		<string>address</string>
		<key>img</key>
		<string>img</string>
		<key>latitude</key>
		<string>latitude</string>
		<key>longitude</key>
		<string>longitude</string>
		<key>method</key>
		<string>method</string>
		<key>rate</key>
		<string>rate</string>
	</dict>
	<key>PaymentOption</key>
	<dict>
		<key>method</key>
		<string>method</string>
		<key>img</key>
		<string>img</string>
		<key>entity_id</key>
		<string>id</string>
	</dict>
	<key>AppExpires</key>
	<dict>
		<key>warning</key>
		<string>warning</string>
		<key>version</key>
		<string>version</string>
		<key>update_url</key>
		<string>update_url</string>
		<key>expires</key>
		<string>expires</string>
	</dict>
	<key>UserData</key>
	<dict/>
	<key>VerifyUser</key>
	<dict>
		<key>phone</key>
		<string>phone</string>
		<key>name</key>
		<string>name</string>
		<key>email</key>
		<string>email</string>
		<key>entity_id</key>
		<string>id</string>
	</dict>
</dict>
</plist>
